{{#each this}}
<li class="card__item" >
    <div class="card__img">       
        <img  src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{poster_path}}" alt="{{title}}"
          />           
    </div>

    <div class="card__info">
        {{#if title}}
        <h3 class="card__info_name">{{title}}</h3>
       
        {{else if name}}
        <h3 class="card__info_name">{{name}}</h3>
         {{/if}}
        <p class="card__info_genre">{{genre_ids}}<p>
    </div>
</li>
{{/each}}
